 @media screen and (max-width: 700px) {
     .banner {
         height: 50%;
     }
     .content1 img {
         width: 50%;
         height: 50%;
         margin-top: 10%;
         margin-left: -5%;
     }
     .title h1 {
         margin-left: 39%;
         font-size: 5px;
     }
     .aimee h2,
     p {
         margin-left: -13%;
     }
     .content3 {
         margin-top: -90%;
         width: 100%;
         height: 5%;
         margin-left: -100%;
     }
     .aboutme {
         margin-left: 50%;
         margin-top: -60%;
     }
     .first {
         padding: 50px 30px 25px 30px;
         width: 30.5%;
         height: 50%;
         height: 90%;
         font-size: 11px;
         margin-right: 10%;
     }
     .info li {
         width: 50%;
     }
     .fa-envelope, .fa-phone-square, .fa-map-marker-alt {
         margin-left: -50%;
         margin-top: -15px;
         padding: 5px 15%;
     }
     #email h6, #cont h6, #address h6 {
         font-size: 12px;
         text-align: center;
         margin-left: -50%;
     }
     #email p, #cont p, #address p {
         font-size: 12px;
         text-align: center;
         margin-left: -50%;
     }
     .inputs input {
         margin-top: -10px;
         height: 20px;
         font-size: 12px;
     }
     .footer {
         float: center;
         margin-left: -20%;
     }
     #logo,
     #logo1,
     #logo2 {
         float: center;
     }
     .footer p {
         margin-left: 20%;
     }
 }