body {
  margin: 0; }
  body .banner {
    background: url("images/sunflower.png") no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100vw; }
    body .banner .header img {
      display: inline-block;
      text-align: left; }
    body .banner .title h1 {
      display: inline-block;
      margin-top: 10%;
      font: 100% "Great Vibes", cursive;
      color: #fff;
      font-size: 20vw;
      text-align: center; }
    body .banner .navbar {
      background: #C88400;
      display: flex;
      justify-content: space-around;
      padding-bottom: 15px;
      width: 97.5%;
      position: fixed;
      z-index: 100;
      opacity: .9; }
    body .banner .navbar li {
      margin-top: 10px;
      list-style: none;
      text-align: center;
      font: 100% "PT Sans Narrow", sans-serif; }
    body .banner a {
      text-decoration: none;
      color: #fff;
      font-size: 18px;
      z-index: 50; }
  body .second {
    background-color: #1D1616;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
    width: 100vw; }
    body .second .content1 p {
      display: inline-block;
      border-left: 6px solid #000;
      background-color: #FCAC00;
      background-color: #FCAC00;
      color: #fff;
      text-align: center; }
    body .second .content1 img {
      top: -100px;
      position: relative;
      max-width: 300px;
      max-height: 500px;
      border-top-left-radius: 100% 100%;
      border-top-right-radius: 100% 100%;
      border-bottom-right-radius: 100% 100%;
      border-bottom-left-radius: 100% 100%; }
    body .second .aimee {
      display: inline-block;
      padding-left: 50px;
      font: 100% "PT Sans Narrow", sans-serif;
      color: #fff;
      text-align: justify;
      width: 100%;
      margin: 0 auto;
      padding: auto;
      margin-top: -200px;
      line-height: 1; }
    body .second .layer {
      position: absolute;
      border: 1px solid #fff;
      background-color: #000;
      opacity: .8; }
    body .second .wrapper {
      margin-right: auto;
      margin-left: auto;
      max-width: 960px;
      padding-right: 10px;
      padding-left: 10px; }
  body .content3 {
    position: relative;
    margin-right: auto;
    margin-left: 40%;
    max-width: 100%;
    height: 100vh;
    margin-top: -40%;
    border-top-left-radius: 100% 100%;
    border-top-right-radius: 100% 100%;
    border-bottom-right-radius: 100% 100%;
    border-bottom-left-radius: 100% 100%; }
    body .content3 .content3 {
      font-size: 30px;
      width: 100%; }
    body .content3 .aboutme {
      border: 2px solid #fff;
      background-color: #C88400;
      width: 300px;
      height: 100px;
      margin-top: 50px; }
    body .content3 .aboutme h3 {
      margin-top: 35px;
      font-weight: bold;
      text-align: center;
      font-family: "PT Sans Narrow", sans-serif;
      color: #fff; }
    body .content3 .skills {
      border: 2px solid #fff;
      background-color: #C88400;
      width: 300px;
      height: 100px;
      margin-top: 20px; }
    body .content3 .skills h3 {
      margin-top: 35px;
      font-weight: bold;
      text-align: center;
      font-family: "PT Sans Narrow", sans-serif;
      color: #fff; }
    body .content3 .me {
      border: 2px solid #fff;
      background-color: #C88400;
      width: 300px;
      height: 100px;
      margin-top: 20px; }
    body .content3 .me h3 {
      margin-top: 35px;
      font-weight: bold;
      text-align: center;
      font-family: "PT Sans Narrow", sans-serif;
      color: #fff; }
    body .content3 .information {
      display: flex;
      margin-top: -60%;
      text-align: center;
      width: 0%;
      margin-left: 100%; }
    body .content3 .information h3 {
      text-align: center;
      color: #fff;
      font-size: 30px;
      font-family: "PT Sans Narrow", sans-serif; }
    body .content3 .information p {
      text-align: center;
      color: #fff;
      width: 100%;
      height: 100%;
      font-family: "PT Sans Narrow", sans-serif; }
  body .third {
    background: url("images/joserizal.jpg") no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    height: 100vh;
    width: 100vw; }
    body .third .first {
      display: inline-block;
      background-color: #fff;
      margin: 5% 35%;
      padding: 50px 30px 25px 30px;
      float: center;
      position: absolute;
      width: 30.5%;
      weight: 50%;
      opacity: .8; }
    body .third .date {
      display: inline-block;
      text-align: left;
      list-style: none;
      text-decoration: none; }
    body .third .first h4 {
      position: relative;
      font-family: "PT Sans Narrow", sans-serif;
      font-size: 30px;
      text-align: left;
      font-weight: 500;
      margin-right: auto;
      margin-left: auto;
      padding-left: 10px;
      padding-right: 10px; }
    body .third .text-bold {
      font-weight: 700;
      text-align: center;
      font-family: "PT Sans Narrow", sans-serif; }
  body .contact {
    background-color: #1D1616;
    attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    text-align: center; }
  body .contact h5 {
    display: inline-block;
    text-transform: uppercase;
    font-size: 50px;
    font-family: "PT Sans Narrow", sans-serif;
    color: #fff;
    border-bottom: 3px solid #fff; }
  body #info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
    height: 40%;
    top: 10%;
    text-align: center; }
  body .info ul,
  body li {
    list-style: none;
    display: inline-block;
    text-align: ctenter; }
  body h6 {
    display: inline-block;
    text-align: center;
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 18px;
    color: #fff;
    line-height: 2px; }
  body .contact p {
    font-size: 15px;
    color: #fff;
    font-family: "PT Sans Narrow", sans-serif;
    line-height: 1; }
  body .fa-envelope {
    border: 1px solid #E1E1E1;
    background-color: #E1E1E1;
    padding: 10px 10px;
    color: #C88400;
    z-index: 100; }
  body .fa-phone-square {
    border: 1px solid #E1E1E1;
    background-color: #E1E1E1;
    padding: 10px 10px;
    color: #C88400; }
  body .fa-map-marker-alt {
    border: 1px solid #E1E1E1;
    background-color: #E1E1E1;
    padding: 10px 10px;
    color: #C88400; }
  body .inputs {
    float: center;
    margin-top: -31px;
    margin-right: 10px; }
  body input {
    display: inline-block;
    width: 52%;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 5px;
    font-size: 18px;
    padding: 2px 0px;
    text-align: center; }
  body input[type-text] {
    width: 50%;
    border: 2px solid #aaa; }
  body input[type-email] {
    width: 50%;
    border: 2px solid #aaa; }
  body ::placeholder {
    font-size: 15px;
    font-family: "PT Sans Narrow", sans-serif; }
  body textarea {
    color: #000;
    width: 52%;
    font-size: 18px;
    border: 2px solid #aaa;
    padding: 2px 10px;
    margin-right: 10px;
    margin-top: 7px;
    margin-left: 0px;
    text-align: center; }
  body input[type-submit] {
    background-color: #C88400; }
  body .footer {
    padding: 10px 10px; }
  body .footer p {
    font-size: 15px;
    font-weight: bold;
    font-family: "PT Sans Narrow", sans-serif;
    text-align: center;
    color: #C88400; }
  body #logo {
    height: 25px;
    width: 25px;
    max-width: 960px;
    margin-left: 47.5%; }
  body #logo1 {
    height: 30px;
    weight: 30px;
    max-width: 960px;
    margin-right: 10%; }
  @media screen and (max-width: 700px) {
    body .banner {
      height: 50%; }
    body .content1 img {
      width: 50%;
      height: 50%;
      margin-top: 10%;
      margin-left: -5%; }
    body .title h1 {
      margin-left: 39%;
      font-size: 5px; }
    body .aimee h2, body p {
      margin-left: -13%; }
    body .aboutme {
      margin-top: -50%;
      width: 20%;
      height: 10%; }
    body .first ul {
      width: 60%;
      height: 90%;
      font-size: 12px; }
    body .info li {
      width: 20%; }
    body .inputs input {
      height: 25px;
      font-size: 12px; }
    body .footer img {
      margin-left: 4%; }
    body .footer p {
      margin-left: 10%; } }

/*# sourceMappingURL=style.css.map */
